html {
  background: url("../../public/background.png") no-repeat center fixed;
  background-size: cover;
}

.title {
  position: absolute;
  width: 1095px;
  height: 141px;
  left: 170px;
  top: 500px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 94.4522px;
  line-height: 142px;

  color: #FFFFFF;

}

.subtitle {
  position: absolute;
  width: 910.09px;
  height: 141px;
  left: 170px;
  top: 641px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;

  color: #FFFFFF;
}

.votingCard {
  position: relative;
}

Button {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.voting {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  margin: 1rem 1rem 1rem 1rem;
  row-gap: 3rem;
  column-gap: 3rem;
  padding-bottom: 100%;
}

.votingCard {
  object-fit: cover;
  height: 244px;
  width: 554px;
}

